<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="HolidaySet" type="TestHolidayCalculation.HolidaySet, TestHolidayCalculation"/>
	</configSections>

	<HolidaySet>
		
		<Holiday Name="New Years Day">
			<WeekdayOnOrAfter>
				<FixedDate Day="1" Month="1" />
			</WeekdayOnOrAfter>
		</Holiday>

		<Holiday Name="Day after New Years Day">
			<WeekdayOnOrAfter>
				<DaysAfter Days="1">
					<WeekdayOnOrAfter>
						<FixedDate Day="1" Month="1" />
					</WeekdayOnOrAfter>
				</DaysAfter>
			</WeekdayOnOrAfter>
		</Holiday>
		
		<Holiday Name="Auckland Anniversary">
			<ClosestDayOfWeek DayOfWeek="Monday">
				<FixedDate Day="29" Month="1" />
			</ClosestDayOfWeek>
		</Holiday>

		<Holiday Name="Waitangi Day">
			<FixedDate Day="6" Month="2" />
		</Holiday>
		
		<Holiday Name="Good Friday">
			<DaysAfter Days="-2">
				<EasterSunday />
			</DaysAfter>
		</Holiday>
		
		<Holiday Name="Easter Monday">
			<DaysAfter Days="1">
				<EasterSunday />
			</DaysAfter>
		</Holiday>

		<Holiday Name="ANZAC Anniversary">
			<FixedDate Day="25" Month="4" />
		</Holiday>

		<Holiday Name="Queens Birthday">
			<XthDayOfWeekInMonth DayOfWeek="Monday" DayOccurance="1" Month="6" />
		</Holiday>

		<Holiday Name="Labour Day">
			<XthDayOfWeekInMonth DayOfWeek="Monday" DayOccurance="4" Month="10" />
		</Holiday>

		<Holiday Name="Christmas Day">
			<WeekdayOnOrAfter>
				<FixedDate Day="25" Month="12" />
			</WeekdayOnOrAfter>
		</Holiday>
		
		<Holiday Name="Boxing Day">
			<WeekdayOnOrAfter>
				<DaysAfter Days="1">
					<WeekdayOnOrAfter>
						<FixedDate Day="25" Month="12" />
					</WeekdayOnOrAfter>
				</DaysAfter>
			</WeekdayOnOrAfter>
		</Holiday>
		
	</HolidaySet>
	
</configuration>